## ============================================================================
## Editor Temp Files
## ============================================================================

*~
~*
\#*
\#*\#
*.log



## ============================================================================
## Folders To Ignore
## ============================================================================
auto-save-list/
backups/
elpa/
ehsell/
games/
sql/
tutorial/
eshell/history
eshell/lastdir
url/cookies



## ============================================================================
## File To Ignore
## ============================================================================
*.elc
#*#
tramp
bookmarks
*.eld
*.cache
recentf
session*
ido*
ac-comphist.dat
abbrev_defs