## ============================================================================
## Editor Temp Files
## ============================================================================

*~
~*
\#*
\#*\#
*.log
*.elc


## ============================================================================
## Folders To Ignore
## ============================================================================
auto-save-list/
backups/
elpa/
elpy/
eshell/
games/
request/
sql/
transient/
tutorial/
url/cookies



## ============================================================================
## File To Ignore
## ============================================================================
*.elc
#*#
tramp
bookmarks
*.eld
*.cache
recentf
session*
ido*
ac-comphist.dat
abbrev_defs
projectile*
